# 環境
ENV=development
# Port
GRPC_PORT=50051
HTTP_PORT=50080
# LLM GRPC クライアント
LLM_GRPC_CLIENT_ADDRESS=llm:50052
# Database
DB_USER=root
DB_PASSWORD=password
DB_HOST=host.docker.internal
DB_PORT=5432
DB_NAME=alterego
# Stripe
STRIPE_API_KEY=
STRIPE_ENDPOINT_SECRET=
FRONTEND_URL=http://localhost:3000
PLACE_ID=
